img{
    flex: 5;
    max-width: 800px;
    max-height: 300px;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 70px;
    }
    .right{
      color: rgb(1, 65, 70);
    }
    .image{
      text-align: center;
      padding-top: 0px;
      width: 100%;
      display: flex; 
      flex-direction: row;
    }
    .start{
      padding-top: 15%;
      min-height: 100px;
      min-width: 100px;
      flex: 1;
      display: inline-table;
      min-width: 500px;
    }
    .welcome{
      flex: 1;
          }