.img {
  height: 25px;
}

.header {
  background-color: white;
}

.ButtonImg {
  width: 100%;
  border-top-right-radius: 4px;
}

.buttonCard {
  padding: 0px;
  text-align: center;
  border: #9cc3ef;
  border-width: medium;
  border-radius: 6px;
  border-style: solid;
  background-color: rgb(132 153 138/50%);
  /* background-image: url('./../../../assets/button.jpg'); */
  height: 135px;
  width: 230px;
  margin-top: 20px;
}

.icon {
  font-size: xx-large;
  color: white;
}

.mat-button-wrapper {
  font-size: x-large;
}

.field>* {
  width: 100%;
}

.bottom {
  position: absolute;
  bottom: 0px;
}

.planButton {
  margin: 70px 0px;
  height: 230px;
  width: 550px;
  background-image: url('/./../../../assets/startFinal.png');
  background-size: contain;
}