<div class="container-fluid d-flex h-90 flex-column main-card">
        <div class="row">
            <div class="col-sm-1 "></div>
            <!-- <div class="col-sm-3 ">
                <div class="row">
                    <button mat-button class="buttonCard">
                          <mat-icon class="icon">saved_search</mat-icon>
                          <br>
                          <h1 style="color: white;">הסטורית טיולים</h1></button>
                </div>
                <div class="row">
                    <button mat-button class="buttonCard">
                          <mat-icon class="icon">perm_media</mat-icon>
                          <br>
                          <h1 style="color: white;"> התמונות מהטיולים שלי
                          </h1></button>
                </div>
                <div class="row">
                    <button mat-stroked-button class="buttonCard">
                          <mat-icon class="icon">thumb_up</mat-icon>
                          <br>
                          <h1 style="color: white;">רשמים ותגובות</h1>
                        </button>
                </div>
                <div class="row">
                    <button mat-stroked-button class="buttonCard">
                          <mat-icon class="icon" >hotel_class</mat-icon>
                          <br>
                          <h1 style="color: white;">שלא נשכח!</h1></button>
                </div>
    
            </div> -->
            <div class="col-sm-7">
                <div class="row" style="margin: 15px;">
                    <div class="col-sm-8">
                    </div>
                    <!-- <div class="col-sm-4">
    
                        <mat-card>
                            <img class="ButtonImg" src="../assets/background.jpg" alt="תמונתך כאן">
                            <button mat-button> אסתר זלוצבסקי</button>
                        </mat-card>
    
                    </div> -->
                </div>
                <div class="row">
                    <div class="planButton"> </div>
                </div>
                <div class="row">
                    <button mat-button style="margin-top: 10px; right:0px;display: block;">
                      <h1 style="color: rgb(15, 1, 46);">
    
                      רשימת האתרים שלי<mat-icon style="top: 5px;   position: absolute;">chevron_left</mat-icon></h1>
                    </button>
                    <!-- <button mat-button style="margin-top: 10px;right:0px;display: block;">
                        <h1 style="color: white;">
      
                        לפרטים נוספים<mat-icon style="top: 5px;   ">chevron_left</mat-icon></h1>
                      </button> -->
                      <!-- <button mat-button style="margin-top: 10px;right:0px;display: block;">
                        <h1 style="color: white;">
      
                        לשינוי סיסמא <mat-icon style="top: 5px;   position: absolute;">chevron_left</mat-icon></h1>
                      </button> -->
                </div>
    
            </div>
            <div class="col-sm-1"></div>
        </div>
        <div class="row">
    
    
        </div>
    </div>