img{
    display: inline-block;
    max-width: 60%;
    }
    .image{
      text-align: center;
      width: 65%;
      margin: auto;  
     
    }
    #logIn,#signUp{
      width: 65%;
      height: auto;
      
    }
    .btns{
        text-align: center;
        width:40vh;
        margin: auto; 
    }