<app-steps></app-steps> 
<app-input-map></app-input-map>
<div class="image" >
        <img class="welcime" src="assets/map.jpg"> 
        <a class="right" href="http://www.freepik.com">Designed by jcomp / Freepik</a>
        <button selected  (click)="LogIn()" routerLinkActive="active">התחבר</button>
        <button selected  (click)="SignUp()" routerLinkActive="active">הרשם</button>
        <div
       
         class="start" selected  (click)="startPlanning()" routerLinkActive="active">
         <img  src="assets/startpng.png"> 
</div>


