  <div class="frm" id=frm>
    <div *ngIf="inLogin" #alert class="alert alert-warning" role="alert">
        <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
          <span aria-hidden="true">&times;</span>
        </button>
         מספר תעודת זהות זה לא רשום במערכת רוצה להצטרף? <button type="button" class="btnInAlert" (click)="comeBack()">לחץ כאן</button>
      </div>
      <div *ngIf="inCorrect" #alert class="alert alert-danger" role="alert">
        <button type="button" class="close" aria-label="Close" (click)="closeAlertDanger()">
          <span aria-hidden="true">&times;</span>
        </button>
        הסיסמא אינה נכונה אנא נסה שנית 
      </div>
    <form novalidate #frm="ngForm">
        <div class="input">
            <mat-form-field class="example-full-width">
                <input ngbTooltip="תעודת זהות חייב להכיל 9 תוים" triggers="click:blur" tooltipClass="tooltip" matInput placeholder="תעודת זהות" name="idUser" [(ngModel)]="newCustomer.IdCustomer" type="text" #userName="ngModel" required minlength="9" maxlength="9" />
            </mat-form-field>
            <span class="error font" *ngIf="userName.errors!=null && userName.errors.minlength && userName.touched">שם משתמש חייב להכיל לפחות 5 תווים</span>
            <span class="error font" *ngIf="userName.errors!=null && userName.errors.required && userName.touched">שדה חובה</span>
        </div>
        <button mat-button type="submit" [disabled]="!frm.valid" (click)="forget()">איפוס סיסמא</button>



    </form>
    <br/>
    <div *ngIf="message" class="newPass">
        <p>סיסמה זמנית נשלחה למייל הרשום בחשבונך</p>
        <mat-form-field class="example-full-width" placeholder="הקלד את הסיסמה הזמנית">
            <input matInput [formControl]="confirm" type="text" required minlength="1" [(ngModel)]="tempPassword" />

        </mat-form-field>
        <button mat-button [disabled]="!confirm.valid" (click)="confirmPass()">אישור</button>
    </div>
    <div *ngIf="chooseNewPass" class="newPass">
        <p>עלייך לבחור סיסמה חדשה לחשבונך</p>
        <p>
            <mat-form-field appearance="legacy">
                <input matInput placeholder="סיסמה" [(ngModel)]="newPassword">
            </mat-form-field>
        </p>
        <button mat-button (click)="confirmPassNew()">אישור</button>
    </div>

</div>
