<!-- <p>Login</p>
<body class="gradient">
  <div class="frm" id=frm> -->
    <div *ngIf="forgetPassword==false">
      <div *ngIf="new==false">
          <br/>
          <form novalidate #frm="ngForm">
            <div *ngIf="incorrect" #alert class="alert alert-danger" role="alert">
                <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
                  <span aria-hidden="true">&times;</span>
                </button>
                <strong>Ops!!!</strong>  הסיסמא לא נכונה אנא נסה שנית 
              </div>
              <div *ngIf="inLogin" #alert class="alert alert-warning" role="alert">
                <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
                  <span aria-hidden="true">&times;</span>
                </button>
                <strong>Warning!!!</strong> מספר תעודת זהות זה לא רשום במערכת רוצה להצטרף? <button type="button" class="btnInAlert" (click)="comeBack()">לחץ כאן</button>
              </div>
              <div class="input">
                  <mat-form-field class="example-full-width">
                      <input ngbTooltip="תעודת זהות חייב להכיל 9 תוים" triggers="click:blur" tooltipClass="tooltip" matInput placeholder="תעודת זהות" name="idUser" [(ngModel)]="newCustomer.IdCustomer" type="text" #userName="ngModel" required minlength="9" maxlength="9" />
                  </mat-form-field>
                  <!-- <span class="error font" *ngIf="userName.errors!=null && userName.errors.minlength && userName.touched">שם משתמש חייב להכיל לפחות 5 תווים</span> -->
                  <span class="error font" *ngIf="userName.errors!=null && userName.errors.required && userName.touched">שדה חובה</span>
              </div>
              <div class="input">
                  <mat-form-field class="example-full-width">
                      <input ngbToolti="סיסמא חייבת להכיל לפחות 5 תוים" triggers="click:blur" [type]="hide ? 'password' : 'text'" tooltipClass="tooltip" matInput placeholder="סיסמא" name="Password" [(ngModel)]="newCustomer.PasswordCustomer" type="password" #password="ngModel"
                          required minlength="5" maxlength="12" />
                      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                  </mat-form-field>
                  <span class="error font" *ngIf="password.errors!=null && password.errors.required && password.touched">שדה חובה</span>
              </div>
              <!-- <div class="btnfrm"> -->
              <!-- <mat-chip-list aria-label="Fish selection"> -->
  
              <button mat-button color="primary" (click)="forgetPass()">שכחת סיסמא?</button>
              <br/> <br/>
              <button mat-flat-button color="primary" (click)="enter(frm)" type="submit" [disabled]="!frm.valid" selected>הכנס</button>
              <!-- </mat-chip-list> -->
              <!-- </div> -->
  
          </form>
          <br/>
  
          <div>משתמש חדש? &nbsp;<button mat-button color="primary" (click)="newCustomerClick()">הירשם</button></div>
      </div>
  
      <div *ngIf="new==true">
          <app-signup></app-signup>
      </div>
  </div>
  <div *ngIf="forgetPassword==true">
      <app-forget-password></app-forget-password>
  </div>
  <img style="margin-bottom:0px"class="welcime" src="assets/logo.png"> 
  <!-- </div>
    </body> -->