img {
    width: 225px;
}

.container {
    background-color: rgb(255, 255, 255, 0.5);
    padding: 0px;
    margin: 0px;
    width: 300px;
    position: absolute;
    bottom: 0px;
    top: 65px;
}

.row {
    margin: 20px 0px;
}