<div class="top">
<div class="form-steps-container">
    <ng-container>
        <div
            class="step-bubble">-1-</div>
            <div>בוחרים קריטריונים</div>
        <div class="step-divider"></div>
    </ng-container>
    <ng-container>
        <div
            class="step-bubble">-2-</div>
            <div>נהנים מהחיפוש החכם שלנו</div>
        <div class="step-divider"></div>
    </ng-container>
    <ng-container>
        <div
            class="step-bubble">-3-</div>
            <div>אופציות נוספות</div>
        <div class="step-divider"></div>
    </ng-container>
    <ng-container>
        <div
             class="step-bubble">-4-</div>
            <div>יוצאים לדרך</div>
        <div class="step-divider"></div>
    </ng-container>
</div>
<div id="logo">
<img  src="assets/logo.png"> 
</div>
</div>