<div style="display: flex;flex: row;border-top: white solid 1px;padding-top:15px ;">

    <div style="flex: 1;" *ngIf="result.GetCurr()!=1"> <img src="./../../../assets/1.png" /> </div>
    <div style="flex: 1;" *ngIf="result.GetCurr()==1"> <img src="./../../../assets/11.png" /></div>
    <div style="flex: 1;" *ngIf="result.GetCurr()!=2"> <img src="./../../../assets/2.png" /></div>
    <div style="flex: 1;" *ngIf="result.GetCurr()==2"> <img src="./../../../assets/22.png" /></div>
    <div style="flex: 1;" *ngIf="result.GetCurr()!=3"> <img src="./../../../assets/3.png" /></div>
    <div style="flex: 1;" *ngIf="result.GetCurr()==3"> <img src="./../../../assets/33.png" /></div>
    <div style="flex: 1;" *ngIf="result.GetCurr()!=4"> <img src="./../../../assets/4.png" /></div>
    <div style="flex: 1;" *ngIf="result.GetCurr()==4"> <img src="./../../../assets/44.png" /></div>



  

</div>