<div class="container-fluid back">
  <div class="row mainRow">
      <mat-card style="width: 80% ;">
          <div class="container-fluid">
              <!-- <div class="row">
                 
              </div> -->
              <div class="row">
                  <h1 style=" text-align: start;" >התחל בתכנון הטיול</h1>
<h2 style=" text-align: start;" >במידה והינך חפץ בתכנון אתרים ללא פרמטרים, לחץ על כפתור התכנון ללא מילוי הפרטים</h2>
                  <mat-divider></mat-divider>

              </div> <br>
              <div class="row">
                <div style="margin-top:50px"class="col-sm-6">
                  <div class="box">
                      <mat-label>כתובת יציאה</mat-label>
                      <app-input-map></app-input-map>
                </div>
                      <div class="box">
                          <mat-radio-group>
                              <mat-radio-button value="1">חצי יום</mat-radio-button>
                              <mat-radio-button value="0">יום</mat-radio-button>
                          </mat-radio-group>
                      </div>
                      <div class="box">
                          <mat-radio-group>
                              <mat-radio-button value="0" [(ngModel)]="favoriteSeason">אפשרי לתחבורה ציבורית</mat-radio-button>
                              <mat-radio-button value="1" [(ngModel)]="favoriteSeason">רק הגעה עצמית</mat-radio-button>
                          </mat-radio-group>
                      </div>
                  </div>
              <div class="col-sm-6">

                      <div class="field">
                          <mat-form-field appearance="outline">
                              <mat-label>אזור</mat-label>
                              <mat-select #select (change)="selectRegion(select.value)">
                                  <mat-option *ngFor="let region of regions"> {{region.NameRegion}}</mat-option>
                              </mat-select>
                              <mat-icon matSuffix>travel_explore </mat-icon>
                          </mat-form-field>
                      </div>
                      <div class="field">
                          <mat-form-field appearance="outline">
                              <mat-label>תת אזור</mat-label>
                              <mat-select #selectSubRegion (change)="SubRegion(selectSubRegion.value)">
                                  <mat-option *ngFor="let sub of sub_regions" value={{sub.CodeSub_Region}}>
                                      {{sub.nameSub_Region}}
                                  </mat-option>
                              </mat-select>
                              <mat-icon matSuffix>emoji_transportation</mat-icon>

                          </mat-form-field>
                      </div>
   


                  <div class="field">
                    <mat-form-field appearance="outline">
                        <mat-label>גיל מינימלי</mat-label>
                        <input matInput [(ngModel)]="newCustomer.MaxAge" name="minAge">
                        <mat-icon matSuffix>child_care </mat-icon>

                    </mat-form-field>
                  </div>
                <div class="field">
                    <mat-form-field appearance="outline">
                        <mat-label>גיל מקסימלי</mat-label>
                        <input matInput [(ngModel)]="newCustomer.MinAge" name="maxAge">
                        <mat-icon matSuffix>elderly </mat-icon>

                    </mat-form-field>
                  </div>

                </div>


            </div>
        </div>
          <div class="row">
              <div class="col-sm-5"></div>
              <div class="col-sm-2"> <button style="width: 100%;" mat-flat-button color="primary">התחל תכנון</button></div>
              <div class="col-sm-5"></div>
            </div>
          </mat-card>
      </div>
    </div>   




<!-- ----------------- -->
<!-- <form class="example-form">
    <mat-form-field class="example-full-width"> -->
      <!-- <mat-label>גיל מינימלי</mat-label>
      <input type="number" matInput placeholder="Ex. Pizza" value="0">
  
      <mat-label>גיל מקסימלי</mat-label>
      <input type="number" matInput placeholder="Ex. Pizza" value="0"> -->

      <!-- <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="1">תחבורה ציבורית</mat-radio-button>
        <mat-radio-button value="2">יכולת הגעה עצמית</mat-radio-button>
      </mat-radio-group>
     -->
      <!-- <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="1">חצי יום</mat-radio-button>
        <mat-radio-button value="2">יום</mat-radio-button>
      </mat-radio-group> -->

      <!-- <select #select (change)="selectType(select.value)">
        <option   *ngFor="let region of regions" > {{region.NameRegion}}</option>
      </select>
    
      <mat-label>Sub-Regions</mat-label>
      <mat-select multiple>
          <mat-option *ngFor="let sub of sub_regions">
            {{sub.nameSub_Region}}
           </mat-option>
      </mat-select> -->
    <!-- </mat-form-field>
  </form> -->



