<form  novalidate #frm="ngForm">
  <div style="max-width:60%" class="container-fluid back">
    <div class="row mainRow">
        <mat-card  style="width: 80% ;">
            <div class="container-fluid">
                <!-- <div class="row">
                   
                </div> -->
                <div class="row">
                    <h1 style=" text-align: start;" >שינוי סיסמא</h1>
  
                    <mat-divider></mat-divider>
  
                </div> <br>
                <div class="row">
                  <div *ngIf="isCorrect" #alert class="alert alert-danger" role="alert">
                    <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>Ops!!!</strong> תעודת זהות/סיסמא אינם נכונים. אנא נסה שנית
                  </div>
                <div  class="col-sm-6">
                  <div class="field">
                  
                    <mat-form-field appearance="outline">
                        <mat-label>תעודת זהות</mat-label>
                        <input ngbTooltip="תעודת זהות חייב להכיל 9 תוים"  triggers="click:blur"  #id="ngModel" [(ngModel)]="this.newCustomer.IdCustomer"required minlength="9" maxlength="9"  matInput name="id">
                        <mat-icon matSuffix>perm_identity </mat-icon>
                    </mat-form-field>
                    <span class="error font" *ngIf="id.errors!=null && id.errors.required && id.touched">שדה חובה</span>
                  </div>
                    <div class="field">
                      <mat-form-field appearance="outline">
                          <mat-label>סיסמא נוכחית</mat-label>
                          <input ngbTooltip="סיסמא חייבת להכיל 6 תווים"  triggers="click:blur"  #currPassword="ngModel"  [(ngModel)]="this.newCustomer.NameCustomer"required minlength="6" matInput name="currentPassword">
                          <mat-icon matSuffix>security </mat-icon>
                      </mat-form-field>
                      <span class="error font"  *ngIf="currPassword.errors!=null && currPassword.errors.required && currPassword.touched">שדה חובה</span>
                    </div>
                  <div class="field">
                      <mat-form-field appearance="outline">
                          <mat-label>סיסמא חדשה</mat-label>
                          <input ngbTooltip="הסיסמא החדשה חייבת להכיל 6 תווים"  triggers="click:blur"  #password="ngModel" [(ngModel)]="this.newCustomer.PasswordCustomer" required minlength="6" matInput name="password">
                          <mat-icon matSuffix>lock_outline </mat-icon>
                      </mat-form-field>
                      <span class="error font"  *ngIf="password.errors!=null && password.errors.required && password.touched">שדה חובה</span>
                    </div>
                    <div class="field">
                      <mat-form-field appearance="outline">
                          <mat-label>אימות סיסמא</mat-label>
                          <input ngbTooltip="הסיסמא אינה תואמת"  triggers="click:blur"  #check="ngModel" [(ngModel)]="newCustomer.checkPassword" required  minlength="6" matInput name="check">
                          <mat-icon matSuffix>lock_open </mat-icon>
                      </mat-form-field>
                      <span class="error font" *ngIf="check.errors!=null && check.errors.required && check.touched">שדה חובה</span>
                    </div>
  
                  </div>
  
              </div>
          </div>
            <div class="row">
                <div class="col-sm-5"></div>
                <div class="col-sm-2"> <button (click)="Save(frm)"  type="submit" [disabled]="!frm.valid" style="width: 100%;" mat-flat-button color="primary">שמור</button></div>
                <div class="col-sm-5"></div>
              </div>
            </mat-card>
        </div>
      </div>   
    </form>
  
  
