<div class="container-fluid back">
    <div class="row mainRow">
        <mat-card style="width: 100% ;">
            <div class="container-fluid">
                <!-- <div class="row">
               
            </div> -->
                <div class="row">
                    <h1 style=" text-align: start;">התגובות שלי:</h1>

                    <mat-divider></mat-divider>

                </div>
                <br>
                <div class="row">
                    <div class="col-sm-7" style="border-right: 1px solid rgb(102, 190, 146);">
                        <app-rate *ngIf="tripName" [tripName]="tripName"></app-rate>
                    </div>

                </div>
            </div>
        </mat-card>
    </div>
</div>