<div class="container-fluid back">
    <div class="row mainRow">
        <mat-card style="width: 100% ;">
            <div class="container-fluid">
                <!-- <div class="row">
               
            </div> -->
                <div class="row">
                    <h1 style=" text-align: start;">התגובות שלי:</h1>

                    <mat-divider></mat-divider>

                </div>
                <br>
                <div class="row">
     
                    <div class="col-sm-7" style="border-right: 1px solid rgb(102, 190, 146);">
                        <app-rate *ngIf="siteName" [siteName]="siteName"></app-rate>
                    </div>
                    <div class="col-sm-4" style="border-left: 1px solid rgb(102, 190, 146)">
                        <div class="row  margin" *ngFor="let response of responses; let i = index">
                            <div class="col-sm-3 field" style="text-align: end">
                                <mat-icon class="arrow" *ngIf="siteName==response">west</mat-icon>
                            </div>
                            <div class="col-sm-8 field"> <button style="margin-right: -45px;" mat-raised-button (click)="onClick(response,i)">{{response}}</button></div>
                            <div class="col-sm-1 field"> </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
</div>