<form  novalidate #frm="ngForm">
<div class="container-fluid back">
  <div class="row mainRow">
      <mat-card style="width: 80% ;">
          <div class="container-fluid">
              <div class="row">
                  <h1 style=" text-align: start;">הזן פרטי אתר</h1>

                  <mat-divider></mat-divider>

              </div> <br>
              <div class="row">
                  <div style="max-width: 30%;" class="col-sm-6">
  
      



                    
                      <div class="box">
                          <mat-label>כתובת אתר</mat-label>
                          <input name="address" [(ngModel)]="newSite.Adress" ngx-google-places-autocomplete =
                          'options'  (onAddressChange)="AddressChange($event)"/>
                        
                      </div>
                      <div class="box">
                          <label>רמת אתגר</label>
                          <mat-slider color="primary" thumbLabel #extra [displayWith]="formatLabel" tickInterval="1" step="1" min="0" max="3" value="{{extraLevel}}" aria-label="units" (change)="Extra(extra.value)"></mat-slider>
 
                      </div>

                      <div class="box">
                          <mat-radio-group>
                              <mat-radio-button [checked]="check2?false:true" #not_free value="1">בתשלום</mat-radio-button>
                              <mat-radio-button [checked]="check2" value="0">ללא תשלום </mat-radio-button>
                          </mat-radio-group>
                      </div>

                      <div class="box">
                          <mat-radio-group>
                              <mat-radio-button value="0" name="busSite" [checked]="check1?false:true" ngDefaultControl [(ngModel)]="favoriteSeason">אפשרי לתחבורה ציבורית</mat-radio-button>
                              <mat-radio-button value="1" name="carSite" [checked]="check1" ngDefaultControl [(ngModel)]="favoriteSeason">רק הגעה עצמית</mat-radio-button>
                          </mat-radio-group>
                      </div>
                  </div>
                  <div style="max-width: 30%;" class="col-sm-6">
                    <div class="field">
                      <mat-form-field appearance="outline">
                          <mat-label>גיל מינימלי</mat-label>
                          <input  ngbTooltip="גיל מינימלי חייב להיות מספר"  triggers="click:blur"  #minAge="ngModel"  matInput [(ngModel)]="newSite.MinAge" name="minAge"  required  minlength="0" maxlength="120"  matInput>
                          <mat-icon matSuffix>child_care </mat-icon>
                      </mat-form-field>
                      <span class="error font"  *ngIf="minAge.errors!=null && minAge.errors.required && minAge.touched">שדה חובה</span>
                  </div>
                  <div class="field">
                      <mat-form-field appearance="outline">
                          <mat-label>גיל מקסימלי</mat-label>
                          <input  ngbTooltip="גיל מקסימלי חייב להיות מספר"  triggers="click:blur"  #max="ngModel"   matInput [(ngModel)]="newSite.MaxAge"   required  minlength="0" maxlength="120"  name="maxAge">
                          <mat-icon matSuffix>elderly </mat-icon>
  
                      </mat-form-field>
                      <span class="error font"  *ngIf="max.errors!=null && max.errors.required && max.touched">שדה חובה</span>
                  </div>
                  <div class="field">
                      <mat-form-field appearance="outline">
                          <mat-label>ליטר מים לנפש</mat-label>
                          <input   ngbTooltip="מספר ליטרים חייב להיות מספר"  triggers="click:blur"  #liter="ngModel"   matInput [(ngModel)]="newSite.MisLiterWater"   required  minlength="1" maxlength="10"  name="MisLiter">
                          <mat-icon matSuffix>wine_bar </mat-icon>
  
                      </mat-form-field>
                      <span class="error font"  *ngIf="liter.errors!=null && liter.errors.required && liter.touched">שדה חובה</span>
                  </div>
                  <div class="field">
                      <mat-form-field appearance="outline">
                          <mat-label>מספר שעות לבילוי</mat-label>
                          <input  ngbTooltip="מספר שעות לא יכול להיות יותר מיממה"  triggers="click:blur"  #mis="ngModel"   matInput [(ngModel)]="newSite.TimeSpend"   required  minlength="0.5" maxlength="24"  name="avgSpendTime">
                          <mat-icon matSuffix>access_time </mat-icon>
  
                      </mat-form-field>
                      <span class="error font"  *ngIf="mis.errors!=null && mis.errors.required && mis.touched">שדה חובה</span>
                  </div>
              </div>
                  <div style="max-width: 30%;" class="col-sm-6">
                      <div class="field">
                          <mat-form-field appearance="outline">

                              <mat-label>סוג</mat-label>
                              <mat-select matNativeControl  value="{{newSite.CodeSiteKind}}" #selectType (selectionChange)="selectTypeSite(selectType.value)">
                                  <mat-option value="1">קבר</mat-option>
                                  <mat-option value="3">בית קפה</mat-option>
                                  <mat-option value="4">אטרקציה רטובה</mat-option>
                                  <mat-option value="5">אטרקציה יבשה</mat-option>
                                  <mat-option value="6">מסלול רטוב</mat-option>
                                  <mat-option value="2">מסעדה</mat-option>
                                  <mat-option value="7">מסלול יבש</mat-option>
                                  <mat-option value="8">שמורת טבע</mat-option>
                                  <mat-option value="9">מוזאון</mat-option>
                              </mat-select>
                              <mat-icon matSuffix>rowing</mat-icon>

                          </mat-form-field>

                      </div>
                      <div class="field">
                          <mat-form-field appearance="outline">
                              <mat-label>שם אתר</mat-label>
                              <input  ngbTooltip="שם חייב להכיל 3 תווים לפחות"  triggers="click:blur"  #nameSite="ngModel"   matInput [(ngModel)]="newSite.NameSite"   required  minlength="3"  name="nameSite">
                              <mat-icon matSuffix>deck </mat-icon>

                          </mat-form-field>
                          <span class="error font"  *ngIf="nameSite.errors!=null && nameSite.errors.required && nameSite.touched">שדה חובה</span>
                      </div>
                      <div class="field">
                          <mat-form-field appearance="outline">
                              <mat-label>אזור</mat-label>
                              <mat-select  #select (selectionChange)="selectRegionType(select.value)">
                                  <mat-option *ngFor="let region of regions" value="{{region.NameRegion}}"> {{region.NameRegion}}</mat-option>
                              </mat-select>
                              <mat-icon matSuffix>travel_explore </mat-icon>
                          </mat-form-field>
                      </div>
                      <div class="field">
                          <mat-form-field appearance="outline">
                              <mat-label>תת אזור</mat-label>
                              <mat-select #selectSub (selectionChange)="selectSubRegion(selectSub.value)">
                                  <mat-option *ngFor="let sub of sub_regions" value={{sub.CodeSub_Region}}>
                                      {{sub.nameSub_Region}}
                                  </mat-option>
                              </mat-select>
                              <mat-icon matSuffix>emoji_transportation</mat-icon>

                          </mat-form-field>
                      </div>
   
                  </div>

              </div>
          </div>
          <div class="row">
              <div class="col-sm-5"></div>
              <div class="col-sm-2"> <button   type="submit" [disabled]="!frm.valid" *ngIf="buttonText=='הוסף'" style="width: 100%;" mat-flat-button color="primary" (click)="AddSite(frm)" >הוסף</button>
             <button *ngIf="buttonText=='עדכן'"   type="submit" [disabled]="!frm.valid" style="width: 100%;" mat-flat-button color="primary" (click)="UpdateSite(frm)" >עדכן</button></div>
              <div class="col-sm-5"></div>

          </div>
          <!-- one file >
 <div class="image-preview">
  <strong>Preview:</strong>
  <img  src={{file}} alt="" id="dorzki-preview">
</div> 
<div class="image-upload">
  <form action="#" method="post" enctype="multipart/form-data">
    <label for="dorzki-image">Upload Image:</label>
    <input #pathfile  type="file" id="dorzki-image" name="dorzki-image" accept=".jpg,.jpeg,.png">
    <button type="submit">Upload!</button>
  </form>
</div>
< multy files >
  <form method="post" enctype="multipart/form-data">
      <div>
        <label for="file">Choose file to upload</label>
        <input type="file" id="file" name="file" multiple>
      </div>
      <div>
        <button>Submit</button>
      </div>
     </form> -->

      </mat-card>
  </div>
</div>
  </form>
