<form novalidate (submit)="AddSite(frm)" #frm="ngForm">
  <div class="container">
    <input ngx-google-places-autocomplete =
    'options'  (onAddressChange)="AddressChange($event)"/>
 
   </div>

<mat-label>סוג</mat-label>
<select #selectType (change)="selectTypeSite(selectType.value)">
  
<option value="1">קבר</option>
<option value="2">מסעדה</option>
<option value="3">בית קפה</option>
<option value="4">אטרקציה רטובה</option>
<option value="5">אטרקציה יבשה</option>
<option value="6">מסלול רטוב</option>
<option value="7">מסלול יבש</option>
<option value="8">שמורת טבע</option>
<option value="9">מוזאון</option>
</select>

<mat-label>שם אתר</mat-label>
<input  [(ngModel)]="newSite.nameSite" name="nameSite">

<label>אזור</label>
 <select #select (change)="selectRegion(select.value)"> 
     <option   *ngFor="let region of regions"> {{region.NameRegion}}</option>
  </select>

  <mat-label>תת אזור</mat-label>
  <select  #selectSubRegion (change)="SubRegion(selectSubRegion.value)">
      <option  *ngFor="let sub of sub_regions" value={{sub.CodeSub_Region}}>
        {{sub.nameSub_Region}}
       </option>
  </select> 

  <label>רמת אתגר</label>
  <select #selectExtra (change)="Extra(selectExtra.value)"> 
    <option value="1">קל</option>
    <option value="1">בינוני</option>
    <option value="1">מאתגר</option>
   </select>

 <mat-radio-group>
    <mat-radio-button #free value="0" (change)="Free_NotFree(free.value)">חינם</mat-radio-button>
    <mat-radio-button #notfree value="1" (change)="Free_NotFree(notfree.value)">לא בחינם</mat-radio-button>
  </mat-radio-group>
  <mat-radio-group>
    <mat-radio-button #bus value="0" (change)="Car_Bus(free.value)">תחבורה ציבורית</mat-radio-button>
    <mat-radio-button #car value="1" (change)="Car_Bus(notfree.value)" >הגעה עצמית</mat-radio-button>
  </mat-radio-group>

  <button mat-flat-button color="primary" type="submit" [disabled]="!frm.valid" selected>הכנס</button>
 
  
<mat-label>גיל מינימלי</mat-label>
<input  type="number" [(ngModel)]="newSite.minAge" name="minAge">


<mat-label>גיל מקסימלי</mat-label>
<input  type="number" [(ngModel)]="newSite.maxAge" name="maxAge">


<mat-label>מספר ליטרים מים לנפש</mat-label>
<input  type="number" [(ngModel)]="newSite.misLiterWater" name="MisLiter">


<mat-label>זמן ממוצע לבילוי</mat-label>
<input type="number" [(ngModel)]="newSite.timeSpend" name="avgSpendTime">

</form>
  <!-- one file >
   <div class="image-preview">
    <strong>Preview:</strong>
    <img  src={{file}} alt="" id="dorzki-preview">
  </div> 
  <div class="image-upload">
    <form action="#" method="post" enctype="multipart/form-data">
      <label for="dorzki-image">Upload Image:</label>
      <input #pathfile  type="file" id="dorzki-image" name="dorzki-image" accept=".jpg,.jpeg,.png">
      <button type="submit">Upload!</button>
    </form>
</div>
< multy files >
    <form method="post" enctype="multipart/form-data">
        <div>
          <label for="file">Choose file to upload</label>
          <input type="file" id="file" name="file" multiple>
        </div>
        <div>
          <button>Submit</button>
        </div>
       </form> -->


  
